@using PokeMovedle.Models.Moves
@using PokeMovedle.Pages
@model _PersistModel 
@{
    MoveContext ctx = new MoveContext();
    int listCount = Model.guessedMoves.Count<Move>();
    int currentDay = MoveContext.GetDay();
    bool gameOver = false;
    Move? lastGuess = null;
    if (!Model.reset && listCount > 0) {
        lastGuess = Model.guessedMoves.First<Move>();
        gameOver = ((lastGuess.id == (await ctx.GetMove()).id) || (listCount >= _GameModel.MAX_GUESSES));
    }
}

@if (Model.reset) {
<script>
    localStorage.setItem("day", @currentDay);
    localStorage.removeItem("moves");
    console.log("Reset local storage");
</script>
}
<div class="row mt-4">
    <div class="col-xs-12 col-lg-3 text-center">
        @await Html.PartialAsync("_MoveTimer", new IndexModel())
    </div>
    <div class="col-xs-12 col-lg-6 text-center">
        <h1>PokeMovedle</h1>

        <form 
            class="input-group m-3"
            autocomplete="off"
            id="guess-form"
            hx-post="@Url.Page("Index", "Guess")"
        >
            @await Html.PartialAsync("_Submit", new _GameModel(lastGuess, listCount))
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Power</th>
                    <th scope="col">pp</th>
                    <th scope="col">Accuracy</th>
                    <th scope="col">Class</th>
                </tr>
            </thead>
            <tbody 
                id="answers-body"
                hx-trigger="submit from:#guess-form"
                hx-get="@Url.Page("Index", "Row")"
                hx-target="this"
                hx-swap="afterbegin"
                hx-include="[id='guess-form']"
                hx-on::config-request="window.lastGuessName = event.detail.parameters.guess"
                hx-on::after-request="if (event.detail.successful) persistGuess(window.lastGuessName)"
            >
                @for (int i = 0; i < listCount; i++) {
                    @Html.Partial("_Row", new _GameModel(Model.guessedMoves[i], i))
                }
            </tbody>
        </table>

        <div 
            id="answer-modal-container"
            hx-trigger="submit from:#guess-form"
            hx-get="@Url.Page("Index", "Modal")"
            hx-target="this"
            hx-include="[id='guess-form']"
        >
            @if (gameOver) {
                @await Html.PartialAsync("_Modal", new _GameModel(lastGuess, listCount))
            }
        </div>
    </div>

    <div class="col-xs-12 col-lg-3 text-center">
        @await Html.PartialAsync("_Legend", new IndexModel())
    </div>
</div>
