@model _GameModel 
@using PokeMovedle.Models.Moves
@{
    MoveContext ctx = new MoveContext();
    int guesses = Model.guesses;
    int max = _GameModel.MAX_GUESSES;
    bool disable = (guesses >= max) || (Model.guessedMove?.id == (await ctx.GetMove()).id);
}

<input autocomplete="false" type="text" hidden/>
<input
    type="search"
    id="guess-input"
    name="guess"
    class="form-control"
    list="guess-options"
    placeholder="Type Move Name..."
    aria-label="Pokemon Move Name"
    disabled="@disable"
    autofocus
/>
<datalist 
    id="guess-options"
    hx-post="@Url.Page("Index", "Options")"
    hx-trigger="input changed delay:500ms from:#guess-input, submit from:#guess-form"
    hx-target="this"
></datalist>
<span class="input-group-text" id="guesses">@guesses/@max Guesses</span>
<input type="number" name="guesses" hidden readonly value="@guesses" />
<input type="submit" hidden />
