@page
@using PokeMovedle.Models.Moves
@using PokeMovedle.Pages
@model IndexModel
@{
    ViewData["Title"] = "PokeMovedle";
}

<div class="position-absolute top-50 start-50 spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<form 
    id="load-form"
    hx-get="@Url.Page("Index", "Persist")"
    hx-target="main"
    hx-swap="innerHTML"
    hx-trigger="load"
>
    <input type="number" name="day" id="load-day" hidden />
    <input type="text" name="moves" id="load-moves" hidden />
</form>
<script>
    let day = localStorage.getItem("day");
    if (day == null) day = -1;
    let moves = localStorage.getItem("moves");
    if (moves == null) moves = "";
    document.getElementById("load-day").value = day;
    document.getElementById("load-moves").value = moves;
</script>
